body{
    text-align: center;
}
article{
    align-content: center;
    text-align: center;
    
    
}
div{
    align-content: center;
    text-align: center;
    align-items: center;
    
    
}

#TEEimage{
    width=100%; 
    height="98";
}
.center {
    text-align: center;
}
#Right{
    text-align: right;
}
#Left{
    text-align: left;
}
#warning{
    display: none;
    color: red;
    text-align: left;
}
